
@{
    ViewData["Title"] = "Example";
}

<h3>The examples of Views are given below:</h3>

<h3>ViewBag Examples: </h3>
<ul >
    <li class="">
        <a class="" asp-area="" asp-controller="Test" asp-action="ViewBagExample">viewBag with String</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="Test" asp-action="ViewBagExampleWithList">ViewBag Example With List</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="Test" asp-action="ViewBagExampleWithObject">ViewBag Example With Object</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="Test" asp-action="ViewDataExampleWithObjects">ViewData Example With Object</a>
    </li>
    <li class="">
        <a class="" asp-area="" asp-controller="Test" asp-action="TempDataExampleWithObjects">TempData Example With Object</a>
    </li>


</ul>